:root {
  --md-primary-fg-color: #041c3b;
  --md-primary-fg-color-dark: #041c3b;
  --md-primary-bg-color: #cfb7f5;
  --md-primary-bg-color-dark: #041c3b;
  --md-accent-fg-color: #ef38a9;
  --md-accent-fg-color-dark: #ef38a9;
  --md-accent-bg-color: #cdf462;
  --md-accent-bg-color-dark: #4b927e;
}

/* Link e elementi interattivi */
a {
  color: #4b927e;
}

a:hover {
  color: #ef38a9;
}
