:root {
  --md-primary-fg-color: #061c3a;
  --md-primary-fg-color-dark: #061c3a;
  --md-primary-bg-color: #e6f0ff;
  --md-primary-bg-color-dark: #0a2847;
  --md-accent-fg-color: #4DA6FF;
  --md-accent-fg-color-dark: #4DA6FF;
  --md-accent-bg-color: #d9eaff;
  --md-accent-bg-color-dark: #1a4d80;
}

/* Colore per link e elementi interattivi */
a {
  color: #0055CC;
}

a:hover {
  color: #004B99;
}
